$breakpoint-tablet_max: 1020px;

@media screen and (max-width: $breakpoint-tablet_max) {
    .grid {
        margin: 2em 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(13, 1fr);
    }

    .grid>div {
        width: 80%;
        justify-self: center;
    }

    .monday {
        grid-row-start: 2;
    }

    .tuesday {
        grid-row-start: 4;
    }

    .wednesday {
        grid-row-start: 6;
    }

    .thursday {
        grid-row-start: 8;
    }

    .friday {
        grid-row-start: 10;
    }

    .saturday {
        grid-row-start: 12;
    }

    form.active {
        left: 20vw;
    }
}