* {
  margin: 0px;
  padding: 0px;
  font-family: "Simplicity";
  text-align: center;
  font-size: 20px;
}

@font-face {
  font-family: "Simplicity";
  src: url(./fonts/simplicity.ttf);
}
@font-face {
  font-family: "Misses";
  src: url(./fonts/Misses.otf);
}
header h1 {
  text-align: center;
  font-family: "Misses";
  font-size: 50px;
  line-height: 0;
  margin-bottom: 0.5em;
}

header img {
  margin-top: 1rem;
  width: 3rem;
}

button {
  margin-top: 1em;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #dd2a7b;
  color: white;
  border: none;
  cursor: grabbing;
}

.calendar {
  margin: 2em 0.5em;
  width: 98vw;
  gap: 0.5em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar div {
  background-color: #f5f4e8;
  border-radius: 15px;
}
.calendar .calendar__day-title {
  height: 3em;
}
.calendar .calendar__container {
  min-height: 55vh;
  height: fit-content;
  align-items: start;
}

.card {
  word-wrap: break-word;
  position: relative;
  background-color: #dd2a7b;
  border-radius: 10px;
  max-width: 80%;
  height: fit-content;
  color: white;
  margin: 0.5em auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card p:last-of-type {
  font-size: 0.8em;
}
.card i {
  font-size: 0.8em;
  position: absolute;
  margin: 0.3em;
  right: 0.5em;
  color: #f5f4e8;
  opacity: 0.3;
}

form {
  position: fixed;
  display: none;
  z-index: 11;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  background-color: #c7c5c5;
  color: black;
  width: 15em;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
form button {
  width: fit-content;
  justify-self: center;
  margin: 0.5em;
}
form input {
  border-radius: 10px;
  border: none;
  width: 90%;
  justify-self: center;
  margin: 10px;
}
form input[type=checkbox] {
  margin: 20px 0;
  width: 20px;
}
form i {
  position: relative;
  justify-self: end;
  margin-bottom: 0.5em;
  color: #909090;
}
form i:hover {
  color: #dd2a7b;
}

.modal {
  background-color: #c7c5c5;
  border-radius: 5px;
  display: none;
  height: 20%;
  padding: 1em;
  position: fixed;
  width: 40%;
  z-index: 11;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
}

.active {
  display: block;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

@media screen and (max-width: 1020px) {
  .calendar {
    margin: auto;
    margin-top: 2em;
    grid-template-columns: 1fr;
    width: 70vw;
    height: auto;
  }

  .card {
    width: 100%;
  }
  .card i {
    left: 88%;
  }

  .modal {
    width: 60%;
  }

  .monday {
    grid-row-start: 2;
  }

  .tuesday {
    grid-row-start: 4;
  }

  .wednesday {
    grid-row-start: 6;
  }

  .thursday {
    grid-row-start: 8;
  }

  .friday {
    grid-row-start: 10;
  }

  .saturday {
    grid-row-start: 12;
  }
}

/*# sourceMappingURL=output.css.map */
