* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

@font-face {
  font-family: 'Misses';
  src: url(./fonts/Misses.otf);
}

body {
  background: rgba(252, 248, 249, 0.64);
  font-family: 'Quicksand';
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 3rem;

  background-color: #af3364;
  color: white;
  box-shadow: 0px 2px 10px 0px rgba(57, 50, 64, 0.3);

  padding: 12px 16px;

  header {
    display: flex;
    align-items: center;

    h1 {
      text-align: center;
      font-family: 'Misses';
      font-size: 32px;
      font-weight: normal;
    }

    img {
      width: 100%;
    }
  }

  button {
    padding: 12px;
    border: 1px solid white;
    color: white;
    background: transparent;
    border-radius: 5px;
  }
}

button {
  font-family: 'Quicksand';
  padding: 20px 15px;
  border: none;
  border-radius: 5px;
}

& button:hover {
  background-color: #990637;
  color: white;
  border: none;
  cursor: grabbing;
}

.calendar {
  margin: 2em 0.5em;
  width: 98vw;
  gap: 0.5em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.calendar div {
  border-radius: 20px;
  border: 1px solid rgba(111, 45, 189, 0.09);

  background: #fffefe;
}
.calendar .calendar__day-title {
  height: 3em;
  display: grid;
  align-content: center;
}
.calendar .calendar__container {
  min-height: 55vh;
  height: fit-content;
  align-items: start;
}

.card {
  word-wrap: break-word;
  position: relative;
  background-color: #990637;
  border-radius: 10px;
  max-width: 80%;
  height: fit-content;
  color: white;
  margin: 0.5em auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  p {
    pointer-events: none;
  }

  .date {
    display: none;
  }
}
.card p:last-of-type {
  font-size: 0.8em;
}
.card i {
  font-size: 0.8em;
  position: absolute;
  margin: 0.3em;
  right: 0.5em;
  color: #f5f4e8;
  opacity: 0.3;
}

form {
  position: fixed;
  display: none;
  z-index: 11;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  background-color: #c7c5c5;
  color: black;
  width: 15em;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &.active {
    display: block;
  }
}
form button {
  width: fit-content;
  justify-self: center;
  margin: 0.5em;
}
form .form__close-button {
  background-color: transparent;
  border: none;
  padding: 0;
  right: 5%;
  top: 1%;
  position: absolute;
}
form .form__close-button:focus {
  outline: 0;
}
form .form__close-button i {
  pointer-events: none;
}
form input {
  border-radius: 10px;
  border: none;
  width: 90%;
  justify-self: center;
  margin: 10px;
}
form input[type='checkbox'] {
  margin: 20px 0;
  width: 20px;
}
form i {
  position: relative;
  justify-self: end;
  margin-bottom: 0.5em;
  color: #909090;
}
form i:hover {
  color: #990637;
}
form .alert {
  background-color: #990637;
  border-radius: 15px;
  color: beige;
  margin: 0.5em;
}

.modal {
  background-color: #c7c5c5;
  display: none;
  padding: 2em;
  position: fixed;
  width: 40%;
  z-index: 11;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  &.active {
    display: block;
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;

  &.active {
    display: block;
  }
}

@media screen and (max-width: 1020px) {
  .calendar {
    margin: auto;
    margin-top: 2em;
    grid-template-columns: 1fr;
    width: 70vw;
    height: auto;
  }

  .card {
    width: 100%;
  }
  .card i {
    left: 88%;
  }

  .modal {
    width: 60%;
  }

  .monday {
    grid-row-start: 2;
  }

  .tuesday {
    grid-row-start: 4;
  }

  .wednesday {
    grid-row-start: 6;
  }

  .thursday {
    grid-row-start: 8;
  }

  .friday {
    grid-row-start: 10;
  }

  .saturday {
    grid-row-start: 12;
  }
}
@media screen and (max-width: 425px) {
  .header__add-button,
  .header__reset-button {
    display: block;
    margin: auto;
    margin-top: 0.5em;
  }
}

.product-modal {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: pink;
  width: 300px;
  height: 500px;

  &.active {
    display: block;
  }
}
