* {
    margin: 0px;
    padding: 0px; 
}

@font-face {
    font-family: "Misses"; 
    src: url(./fonts/Misses.otf);

}

h1 {
    text-align: center; 
    font-family: "Misses";
    font-size: 50px;
}

@font-face { 
    font-family: "Simplicity";
    src: url(./fonts/simplicity.ttf);
}


h2 {
    font-family: "Simplicity";
    align-self: center; 
}



.weekCard {
    width: 13%;
    height: 45px;
    border: none; 
    text-align: center; 
    border-radius: 15px;
    margin: 3px 7px; 
    padding: 5px 2px; 
    background-color: #f5f4e8; 
    display: flex;
    justify-content: center;
    justify-items: center; 

}

section.week {
    display: flex; 
    justify-content: inherit; 
    margin: 2px 3px; 
}


.daySection {

    width: 13%;
    height: 80%; 
    border: none; 
    text-align: center; 
    border-radius: 15px;
    margin: 5px 7px; 
    padding: 5px 2px; 
    background-color: #f5f4e8; 


}

section.am {
    width: 100vw;
    height: 60vh;
    display: flex;
}


button {
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px;
    font-family: "Simplicity";
    font-size: 20px; 
}

button:hover {
    background-color: #dd2a7b;
    color: white; 
    border: none; 
    cursor: grabbing; 
}

.newProductSection {
    margin-top: 0px;
    margin: 20px 0px; 
    text-align: center; 
}

.cards {
    padding: 5px 0px; 
    margin: 3px 2px; 
    width: 97%;
    height: 50px;
    border: none; 
    font-family: "Simplicity";  
    font-size: 20px; 
    text-align: auto; 
    border-radius: 15px; 
    background: #2193b0;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    color: white; 
    
}

#newProductForm {
    width: 300px; 
    font-family: "Simplicity";
    padding: 10px 10px;
    position: absolute; 
    background-color: #DDDDDD; 
    border-radius: 6px;
    display: none; 
    align-self: center;
    flex-direction: column; 
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

#newProductForm td {
    padding: 5px;
    margin: 2px;
}


#newProductForm tr {
    width: 60px;
}


#newProductForm.active {

    display: flex;
}

.dayCheckContainer {
    display: flex;
    align-content: space-between; 
    width: 100px; 
    align-self: center; 
    justify-content: space-between;
}


#submitButton {
    align-self: center; 
}
