$primary-color: #EBB3C1;
$accent-color: #C71C5F;
$primary-font: 'Misses';
$secondary-font: 'Quicksand';
$modal-color: white;
$breakpoint-tablet_max: 1020px;
$main-background: #FFFFFC;

* {
  margin: 0px;
  padding: 0px;
  font-family: $secondary-font;
  text-align: center;
  font-size: 20px;
}

body {
  background-color: $main-background;
}

@font-face {
  font-family: 'Misses';
  src: url(./fonts/Misses.otf);
}

header {
  display: grid;
  grid-auto-flow: column;
  width: fit-content;
  align-items: center;
  margin: auto;
  height: 5em;
  gap: 0.25em;

 h1 {
  text-align: center;
  font-family: $primary-font;
  font-size: 50px;
  line-height: 0em;
} 

img {
  width: 2.5rem;
}
} 

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: $primary-color;
}

button:hover {
  background-color: $accent-color;
  color: white;
  border: none;
  cursor: grabbing;
}

.calendar {
  margin: 2em 0.5em;
  width: 98vw;
  gap: 0.5em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  div {
    background-color: white;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    border-radius: 20px;
  
    .card {
      word-wrap: break-word;
      position: relative;
      background-color: $accent-color;
      border-radius: 10px;
      max-width: 80%;
      height: fit-content;
      color: white;
      margin: 0.5em auto;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
      p:last-of-type {
        font-size: 0.8em;
      }
    
      i {
        font-size: 0.8em;
        position: absolute;
        margin: 0.3em;
        right: 0.5em;
        color: $primary-color;
        opacity: 0.3;
      }
    }
  
  }

  .calendar__container {
    min-height: 55vh;
    height: fit-content;
    align-items: start;

    h6 {
      margin-top: 0.5em;
    }
  }
}

form {
  position: fixed;
  display: none;
  z-index: 11;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  background-color: $modal-color;
  color: black;
  width: 15em;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  button {
    width: fit-content;
    justify-self: center;
    margin: 0.5em;
  }

  .form__close-button {
    background-color: transparent;
    border: none;
    padding: 0;
    right: 5%;
    top: 1%;
    position: absolute;

    &:focus {
      outline: 0;
    }

    i {
      pointer-events: none;
    }
  }

  input {
    border-radius: 10px;
    border: solid 1.5px black;
    width: 90%;
    justify-self: center;
    margin: 10px;
    padding: 0.15em;
  }

  input[type='checkbox'] {
    margin: 20px 0;
    width: 20px;
    height: 20px;
  }

  i {
    position: relative;
    justify-self: end;
    margin-bottom: 0.5em;
    color: $modal-color;

    &:hover {
      color: $accent-color;
    }
  }

  .alert {
    background-color: $accent-color;
    border-radius: 15px;
    color: beige;
    margin: 0.5em;
  }
}

.modal {
  background-color: $modal-color;
  display: none;
  padding: 2em;
  position: fixed;
  width: 40%;
  z-index: 11;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.active {
  display: block;
}

.modal__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

@media screen and (max-width: $breakpoint-tablet_max) {
  .calendar {
    margin: auto;
    margin-top: 2em;
    grid-template-columns: 1fr;
    width: 70vw;
    height: auto;
  }

  .card {
    width: 100%;

    i {
      left: 88%;
    }
  }

  .modal {
    width: 60%;
  }

  .monday {
    grid-row-start: 2;
  }

  .tuesday {
    grid-row-start: 4;
  }

  .wednesday {
    grid-row-start: 6;
  }

  .thursday {
    grid-row-start: 8;
  }

  .friday {
    grid-row-start: 10;
  }

  .saturday {
    grid-row-start: 12;
  }
}

@media screen and (max-width: 425px) {

  .header__add-button,
  .header__reset-button {
    display: block;
    margin: auto;
    margin-top: 0.5em;
  }

}