$primary-color: #f5f4e8;
$accent-color: #dd2a7b;
$primary-font: 'Misses';
$secondary-font: 'Simplicity';
$modal-color: rgb(144, 144, 144);
$breakpoint-tablet_max: 1020px;

* {
  margin: 0px;
  padding: 0px;
  font-family: $secondary-font;
  text-align: center;
  font-size: 20px;
}

@font-face {
  font-family: 'Simplicity';
  src: url(./fonts/simplicity.ttf);
}

@font-face {
  font-family: 'Misses';
  src: url(./fonts/Misses.otf);
}

header h1 {
  text-align: center;
  font-family: $primary-font;
  font-size: 50px;
  line-height: 0;
  margin-bottom: 0.5em;
}

header img {
  margin-top: 1rem;
  width: 3rem;
}

button {
  margin-top: 1em;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: $accent-color;
  color: white;
  border: none;
  cursor: grabbing;
}

/* -- Calendar main grid --*/

.calendar-container {
  align-items: flex-start;
  margin: 2em 0.5em;
  width: 98vw;
  gap: 0.5em;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-container>div {
  background-color: $primary-color;
  height: 3em;
  border-radius: 15px;
  grid-auto-rows: max-content;
  gap: 0.5em;
  grid-auto-columns: minmax(100px, 180px);
}

.day {
  display: grid;
  justify-content: center;
  align-content: center;
}

// Card containers
.calendar-container>div:nth-of-type(n + 8) {
  min-height: 60vh;
  height: fit-content;
  align-items: start;
}

/* --- Individual product cards --- */

.card {
  word-wrap: break-word;
  position: relative;
  background-color: rgb(193, 109, 160);
  border-radius: 10px;
  max-width: 80%;
  height: fit-content;
  color: white;
  margin: 0.5em auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card p:last-of-type {
  font-size: 0.6em;
}

.card>i {
  font-size: 0.8em;
  position: absolute;
  margin: 0.3em;
  right: 0.5em;
  color: $primary-color;
  opacity: 0.3;
}

/* -- Form --*/

form {
  position: fixed;
  display: none;
  z-index: 11;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  background-color: rgb(199, 197, 197);
  color: black;
  width: 15em;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  button {
    width: fit-content;
    justify-self: center;
    margin: 0.5em;
  }

  input {
    border-radius: 10px;
    border: none;
    width: 90%;
    justify-self: center;
    margin: 10px;
  }

  input[type='checkbox'] {
    margin: 20px 0;
    width: 20px;
  }
}

/* Form close button */
form>i {
  position: relative;
  justify-self: end;
  margin-bottom: 0.5em;
  color: $modal-color;
}

form>i:hover {
  color: $accent-color;
}

/* -- Modal -- */

.active {
  display: block;
}

.inactive {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.deletedProductModal {
  background-color: rgb(199, 197, 197);
  border-radius: 5px;
  display: none;
  height: 20%;
  padding: 1em;
  position: fixed;
  width: 40%;
  z-index: 11;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
}

/* ------- */

@media screen and (max-width: $breakpoint-tablet_max) {
  .calendar-container {
    margin: auto;
    margin-top: 2em;
    grid-template-columns: 1fr;
    width: 70vw;
    height: auto;
  }

  .card {
    width: 100%;
  }

  .card>i {
    left: 88%;
  }

  .modal.deletedProduct {
    width: 60%;
  }

  .monday {
    grid-row-start: 2;
  }

  .tuesday {
    grid-row-start: 4;
  }

  .wednesday {
    grid-row-start: 6;
  }

  .thursday {
    grid-row-start: 8;
  }

  .friday {
    grid-row-start: 10;
  }

  .saturday {
    grid-row-start: 12;
  }
}